@model IITAcademicAutomationSystem.Areas.One.Models.BaseViewModel
@{
    ViewBag.Title = "Home";
}

<section class="content-header">
    <h1>
        Admin
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Home</li>
    </ol>
</section>
<section class="content">
    This is admin...
</section>
