label {
    font-weight: 600;
}
.edit {
    padding-left: 10px;
    padding-right: 10px;
}
.bg-one-aqua {
  background-color:#499FC8 !important;
  color: #fff;
}
.login{
    max-width: 380px;
    padding: 30px 10px 40px;
    margin: 0 auto;
}
.login-form{
    border-radius: 0;
    border: 1px solid transparent;
    border-color: lightgray;
}
.login-heading{
    font-size: 1.8em;
    text-align: center;
    border-radius: 0;
}

.panel-sm {
    border-radius: 0;
    margin: auto;
    max-width: 757px;
}
.panel-heading-sm,
.panel-footer-sm {
    background-color: #fff !important;
}

@media (max-width: 767px) 
{
    .edit {
        padding-left: 5px;
        padding-right:5px;
    }
}

/*<section class="content">
    <div class="one-panel panel-default one-panel">
        <div class="panel-body one-panel-body">

        </div>
        <div class="one-panel-footer one-panel-footer">

        </div>
    </div>
</section>*/