@{
    ViewBag.Title = "IIT Academic Automation System";
}

<div class="content">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <h1>Institute of Information Technology</h1>
            <h3>University of Dhaka</h3>
        </div>
    </div>
</div>