
@{
    ViewBag.Title = "View Result";
}
<script src='~/Areas/Two/Library/angular.min.js'></script>

<script src="~/Areas/Two/Scripts/Utility/Module/Utility.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/ExamManagement/Module/ExaminationManagement.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/ExamManagement/Controllers/ViewResult.Controller.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/ExamManagement/Factory/Result.Factory.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/Utility/Factory/Utility.Factory.js" type="text/javascript"></script>

<div class="container-fluid">
    <div>
        <div ng-app="examinationManagement_module" ng-controller="viewResult_controller">
            <div ng-cloak>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <b>Program</b>
                                <div>
                                    <select class="form-control" ng-change="whenProgramIsSelected()" ng-model="selected.program" ng-options="program as program.name for program in selection.programs"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div ng-show="selected.program.id">
                                    <b>Batch</b>
                                    <div>
                                        <select class="form-control" ng-change="whenBatchIsSelected()" ng-model="selected.batch" ng-options="program as program.name for program in selection.batches"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div ng-show="selected.program.id && selected.batch.id">
                                    <b>Semester</b>
                                    <div>
                                        <select class="form-control" ng-change="whenSemesterIsSelected()" ng-model="selected.semester" ng-options="semester as semester.name for semester in selection.semesters"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div ng-if="flag.isAllMarksFinallySybmitted==false">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <h3>All Courses Marks Are Not Finally Submitted</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="flag.isAllMarksFinallySybmitted==true">
                        <div ng-if="selected.program.id && selected.semester.id && selection.resultInfo.results">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="search">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div id="printArea">
                                    <div class="box">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <h3>{{"Program : "+selection.resultInfo.programName+" "}}</h3>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h3>{{"Semster : "+selection.resultInfo.semesterName+" "}}</h3>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h3>{{selected.batch.name}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <table border="1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Class Roll</th>
                                                    <th>Exam Roll</th>
                                                    <th ng-repeat="course in selection.resultInfo.courses">{{course}}</th>
                                                    <th>GPA</th>
                                                    <th>CGPA</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="info in selection.resultInfo.results  | filter:search">
                                                    <td>{{info.studentName}}</td>
                                                    <td>{{info.classRoll}}</td>
                                                    <td>{{info.examRoll}}</td>
                                                    <td ng-repeat="result in info.result">
                                                        <p ng-if="result.GPA!=-1">{{result.GPA}}</p>
                                                    </td>
                                                    <td>{{info.GPA}}</td>
                                                    <td>{{info.CGPA}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <input type="button" class="btn btn-primary" value="Download" ng-click="printIt()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                
            </div>
        </div>
    </div>
</div>
