
@{
    ViewBag.Title = "Not Authorized";
}


<section class="content">
    <div class="panel panel-default panel-sm">
        
        <div class="panel-body">
            You are not authorized to access this.
        </div>
        
    </div>
</section>
