@{
    ViewBag.Title = "View Notice";
}
<script src='~/Areas/Two/Library/angular.min.js'></script>

<script src="~/Areas/Two/Scripts/Utility/Module/Utility.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/NoticeManagement/Module/NoticeManagement.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/NoticeManagement/Controller/viewNotice.Controller.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/NoticeManagement/Factory/NoticeManagement.Factory.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/Utility/Factory/Utility.Factory.js" type="text/javascript"></script>

<body>
    <div class="container-fluid">
        <div>
            <div ng-app="noticeManagement_module" ng-controller="viewNotice_controller">
                <div ng-cloak>
                    <div>
                        <div class="row">
                            <div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{selected.fileFath}}" />
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</body>


