@{
    ViewBag.Title = "View Routine";
}
<script src='~/Areas/Two/Library/angular.min.js'></script>

<script src="~/Areas/Two/Scripts/Utility/Module/Utility.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/RoutineManagement/Module/RoutineManagement.module.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/RoutineManagement/Controller/ViewOrDownloadRoutine_s.Controller.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/RoutineManagement/Factory/RoutineManagement.Factory.js" type="text/javascript"></script>
<script src="~/Areas/Two/Scripts/Utility/Factory/Utility.Factory.js" type="text/javascript"></script>


<div class="container-fluid">
    <div>
        <div ng-app="routineManagement_module" ng-controller="viewRoutine_controller">
            <div ng-cloak>
                <div class="row">
                    <div ng-if="message.content!=''">
                        <div class="{{message.color}}">{{message.content}}</div>
                    </div>
                </div>
                <br/>
                <div>
                    <div class="row">
                        <div ng-if="flag.isRoutineUploaded==false">
                            <h3>Routine Is Not Uploaded Yet</h3>
                        </div>
                        <div ng-if="flag.isRoutineUploaded==true">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <input type="button" value="View Routine" class="btn btn-primary" ng-click="viewRoutineFile(selection.files.routine.path)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>   











