@{
    ViewBag.Title = "Confirm Account";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="box box-default">
                <div class="box-body">
                    Thank you for confirming your account. Please log in to continue.
                </div>
                <div class="box-footer text-center">
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>