@{
    ViewBag.Title = "IIT Academic Automation System";
}

<div class="login">
    <div id="loginForm" class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Email Confirmation
        </div>
        <div class="panel-body login-body">
            Thank you for confirming your email address. Please log in to continue.
        </div>
        <div class="panel-footer login-footer text-center">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
                htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-flat" })
        </div>
    </div>
</div>