@{
    ViewBag.Title = "IIT Academic Automation System";
}

<div class="login">
    <div id="loginForm" class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Email Confirmation
        </div>
        <div class="panel-body login-body">
            Email is not confirmed for this account. Please check your email and confirm your account.
        </div>
        <div class="panel-footer login-footer text-center">
            @Html.ActionLink("Back to Log In", "Login", "Account", new { area = "" },
                        htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-flat" })
        </div>
    </div>
</div>
