@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        There is no account with this email. Please @Html.ActionLink("try again.", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
