@{
    ViewBag.Title = "Forgot Password";
}
<div class="login-sm">
    <div class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            Forgot Password
        </div>
        <div class="panel-body">
            <p class="lead">
                An email has been sent to your email address.
            </p>
            <p>
                Please check your email to reset password.
            </p>
        </div>
        <div class="panel-footer text-center">
            @Html.ActionLink("Back to Login", "Login", "Account",
                new { area = "" }, new { @class = "btn btn-primary btn-flat" })
        </div>
    </div>
</div>
