@{
    ViewBag.Title = "Forgot Password";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="box box-default">
                <div class="box-body">
                    An email has been sent to your email address. Please chek your email to reset password.
                </div>
            </div>
        </div>
    </div>
</section>