@{
    ViewBag.Title = "Register User";
}

<section class="content-header">
    <h1>
        The user account has been successfully created.
    </h1>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(" Home", "Index", "Home", new { area = "" }, new { @class = "fa fa-home" })
        </li>
        <li class="active">
            Register
        </li>
    </ol>
</section>
<hr />
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="box box-primary">
                <div class="box-body with-border">
                    A confirmation email has been sent to the user.
                </div>
                <div class="box-footer text-center">
                    @Html.ActionLink("Back", "Register", "Account", new { area = "" },
                        new { @class = "btn btn-primary btn-flat" })
                </div>
            </div>
        </div>
    </div>
</section>

