@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="login-sm">
    <div class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <p class="lead">
                Your password has been reset.
            </p>
            <p>
                Please @Html.ActionLink("click here to log in", "Login", "Account",
                    new { area="" }, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
