@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h1>Reset password successful.</h1>
</hgroup>
<div>
    <p>
        The password has been successfully reset. Please log in to continue.</p>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
            htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-flat" })
</div>
