@{
    ViewBag.Title = "Reset Password";
}

<hgroup class="title">
    <h1>Reset password has failed.</h1>
</hgroup>
<div>
    <p>
        There is no account with this email or the account has not been confirmed yet.
        Please @Html.ActionLink("try again.", "ForgotPassword", "Account")
    </p>
</div>
