@{
    ViewBag.Title = "Reset Password Failed";
}

<div class="login-sm">
    <div class="panel panel-success login-form">
        <div class="panel-heading login-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <p class="lead">
                Password could not be reset.
            </p>
            <p>
                Please @Html.ActionLink("try again.", "ForgotPassword", "Account",
                    new { area = "" }, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
        <div class="panel-footer text-center">
            @Html.ActionLink("Back to Login", "Login", "Account",
                new { area = "" }, new { @class = "btn btn-primary btn-flat" })
        </div>
    </div>
</div>
